* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: flex;
  place-items: top;
  top: 0;
  width: 100%;
  text-align: center;
  border: solid white 2px;
  padding: 10px;
}

footer {
  position: flex;
  place-items: bottom;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: solid white 2px;
  margin-top: 50px;
  padding: 10px;
}

#nav-bar {
  padding-left: 0;
  list-style-type: none;
  padding-inline-start: 0;
}
#nav-bar li {
  display: inline;
  padding: 10px;
}

h3 {
  padding: 10px;
  width: 100%;
}

.Welcome {
  border: solid white 2px;
  padding: 10px;
  width: 100%;
}

.All-Artilces {
  width: 100%;
}
.Articles-Filter {
  border: solid white 2px;
  padding: 10px;
  width: 100%;
}
.Article-List {
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100%;
  padding: 10px;

  display: grid;
  column-gap: 50px;
}
.Article-List-Item {
  list-style-type: none;
  border: solid white 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.Article-List-Item img {
  height: 10rem;
}
.Article-List-Item p {
  padding-left: 25px;
  padding-right: 25px;
}

.Single-Article {
  list-style-type: none;
  border: solid red 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.Article-Title {
  border: 0;
}
.Single-Article button {
  margin: 20px;
}
.Article-Comments {
  border: solid lightblue 3px;
}
#Comment-Title {
  text-align: left;
  padding: 10px;
}

.Article-Comments ul {
  padding-inline-start: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.Article-Comments li {
  list-style-type: none;
  border: solid lime 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.Article-Comments button {
  margin: 10px;
}
.Article-Comments p {
  margin: 10px;
}

.new-comment {
  display: grid;
  border: solid red 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
}
.new-comment label {
  font-size: large;
}
.new-comment input {
  height: 50px;
}
.posted {
  margin-top: 10px;
}
.Article-New-Comment {
  border: solid blue 2px;
  padding-inline-start: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.Article-New-Comments li {
  list-style-type: none;
  border: solid lime 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
