#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: flex;
  place-items: top;
  top: 0;
  width: 100%;
  text-align: center;
  border: solid white 2px;
  padding: 10px;
}

footer {
  position: flex;
  place-items: bottom;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: solid white 2px;
  margin-top: 50px;
  padding: 10px;
}

#nav-bar {
  padding-left: 0;
  list-style-type: none;
  padding-inline-start: 0;
}
#nav-bar li {
  display: inline;
  padding: 10px;
}

h3 {
  border: solid white 2px;
  padding: 10px;
  width: 100%;
}

.Welcome {
  border: solid white 2px;
  padding: 10px;
  width: 100%;
}

/* .Articles-Filter {
  border: solid white 2px;
  width: 100%;
}0*/
.All-Artilces {
  width: 100%;
}

.Article-List {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  width: 100%;
}
.Article-List-Item {
  list-style-type: none;
  border: solid white 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.Article-List-Item img {
  height: 10rem;
}
.Article-List-Item p {
  padding-left: 25px;
  padding-right: 25px;
  /* text-align: center; */
}

.Single-Article {
  list-style-type: none;
  border: solid red 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.Article-Title {
  border: 0;
}
.Article-Comments {
  border: solid lightblue 3px;
}
#Comment-Title {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
.Article-Comments ul {
  padding-inline-start: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.Article-Comments li {
  list-style-type: none;
  border: solid lime 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
